.background-header{
    /* background-color: rgb(23 45 111); */
    height: 80px!important;
    position: fixed!important;
    scroll-behavior: smooth;

  }
  .background-header.scroll {
    background-color: rgb(23 45 111);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;
    scroll-behavior: smooth;
  }
 
  
  .navbar-collapse.color {
    background-color: rgb(23 45 111);

  }
  .navbar-light .navbar-brand {
      color: rgb(255, 255, 255);
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
      color: rgb(255, 255, 255);
  }
  .navbar-light .navbar-nav .nav-link {
      color: rgb(255, 255, 255);
  }
  .navbar-toggler {
      background: #fff;
  }
  .navbar-nav {
      text-align: center;
  }
  .nav-link {
      padding: .2rem 1rem;
  }
  .nav-link.active, .nav-link:focus {
      color: #fff;
  }
  .navbar-toggler {
      padding: 1px 5px;
      font-size: 18px;
      line-height: 0.3;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
      color: #e8b851;
  }
  
  