.blog-banner {
    position: relative;
}
.blog-slide img {
    width: 100%;
    height: 781px;
}
.banner-content {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,.45);
    height: 781px;
}
.banner-text {
    width: 100%;
    margin-top: 280px;
    color: #fff;
    position: absolute;
    left: 0;
    background: rgba(19,40,109,.25);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    max-width: 40%;
}
.banner-text h1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 57px;
    letter-spacing: -1.25px;
    color: #fff;
    margin-left: 13.5rem;
    margin-top: 14px;
    margin-bottom: 14px;
}
/* @media (min-width: 1200px) { 
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
}
@media (min-width: 992px) {
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}
}
@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 720px;
}
}
@media (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
}
} */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.about-salacia-section {
    margin-top: 48px;
    margin-bottom: 48px;
}
.about-salacia-section h2{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -.6px;
    color: #13286d;
    margin-top: 0;
}
.about-salacia-section h4 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -.45px;
    color: #13286d;
    margin-top: 0;
}
.cruises-services {
    margin-bottom: 48px;
}
.cruises-services h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -.6px;
    color: #13286d;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-4 {
    display: flex;
    margin-top: 24px;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
 .col-4 img {
    margin: 0 12px 0 0;
    width: 40px;
    height: 44px;
}
 .col-4 h3 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -.4px;
    color: #13286d;
    margin-top: 0;
}
.itenary h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -.6px;
    color: #13286d;

}
.room-facilities {
    margin-bottom: 48px;
}
.room-facilities h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -.6px;
    color: #13286d;
}
.description h4 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.3px;
    color: #13286d;
    margin-bottom: 0;
}
.description strong {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    letter-spacing: -.3px;
    color: #13286d;
    margin-top: 2px;
}
.multi-text {
    display: flex;
}
.multi-text strong {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.3px;
    color: #13286d;
}
.multi-text h3 {
    margin-left: 5px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -.3px;
    color: #13286d;
}
button.btn.btn-link {
    text-decoration: none;
    color: #172d6f;
}
.card.customClass,
.card.customClass .card-header,
.panel.customClass .btn.btn-link {
  background-color: #fff;
  color: #172d6f;
}
button.btn.btn-link:hover{
    text-decoration: none;
}
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
.gallery .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}
.show-gallery{
    flex-shrink: 0;
    /* width: 100%; */
    /* max-width: 100%; */
    width: fit-content;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.show-gallery img {
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.head-title h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -.6px;
    color: #13286d;
}
.images-section {
    margin-top: 30px;
  }

@media only screen and (max-width: 575.98px) {
    .blog-slide img {
        width: 688px;
        height: 400px;
    }
    .banner-content{
        width: 688px;
        height: 400px;
    }
    .banner-text {
        max-width: none;
        border-radius: unset;
    }
    .banner-text h1 {
        font-size: 36px;
        margin-left: 70px;
    }
    .salacia-page-section {
        margin-left: 50px;
    }
   .show-gallery {
       margin-left: 30px;
   }
   .show-gallery img {
    width: 400px;
    height: 300px;
   }
}
@media (min-width: 1200px) {
    .container{
      max-width: 1250px;
    }
  }