.up {
    position: fixed;
    bottom: 45px;
    right: -30px;
    background-color: rgb(23 45 111);
    color: white;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Tahoma;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer; 
    transition: 0.2s;
}
.up.show {
    right: 30px;
}